<%= turbo_frame_tag "todo_items" do %>
  <div id="todo_items" class="space-y-4">
    <% todo_items.each do |todo_item| %>
      <div class="flex items-center justify-between p-4 bg-white rounded shadow-sm border border-gray-200">
      <%= turbo_frame_tag dom_id(todo_item) do %>
        <%= render todo_item %>
      <% end %>
      </div>
    <% end %>
  </div>
<% end %>