<%= turbo_frame_tag "todo_items" do %>
  <div id="todo_items" class="space-y-4">
    <% todo_items.each do |todo_item| %>
      <%= turbo_frame_tag dom_id(todo_item) do %>
        <div class="flex items-center justify-between p-4 bg-white rounded border-t border-gray-400">
          <%= render todo_item %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>